@media only screen and (max-width: 576px) {
	#logo2 {
		visibility: hidden !important;
		display: none !important;
	}
	#logo1 {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	#login {
		padding: 20px 20px 20px 20px !important;
	}
}
	/*#login .container #login-row #login-column #login-box {
		margin-top: 100px !important;
		height: 320px !important;
	}
	
	body {
		background-color: red !important;
	}*/
}
body {
  padding-right: 0px !important;
  overflow-y: hidden !important;
  margin: 0;
  padding: 0;
  /*background-color: white;*/
  /*height: 100vh;*/
  font: 16px 'Roboto',sans-serif;
}
#login {
	padding: 40px 20px 60px 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#login button {
	/*border: 1px solid black !important;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#login button:hover {
	opacity: 0.9;
	background-color: white;
}

.color_suave {
	background-color: #36d7b7;
}
.color_intermedio {
	background-color: #1bbc9b;
}
.color_fuerte {
	background-color: #00886d;
}
#logo1 {
	border: 5px solid #00886d;
	margin: 50px 0px 20px 0px;
}
table, tr, td, th {
	border: 1px solid black;
}

.nav-link {
	color: white !important;
}

.nav-link:hover {
	color: #36d7b7 !important;
}
.dropdown-item:hover{
	color: #00886d;
}

.navbar-toggler-icon {
	background-image: url("/IMG/menu.png");
}

nav {
	font-size: 120%;
}