@media only screen and (max-width: 576px) {
	#logo2 {
		visibility: hidden !important;
		display: none !important;
	}
	#logo1 {
		width: 40%;
		/* display: none !important; */
		/* margin-top: 10px !important;
		margin-bottom: 10px !important; */
	}
	#login {
		padding: 20px 20px 20px 20px !important;
	}
	#crear_ubicacion {
		background-color: white;
	}
	.fa-plus-circle {
		color: #1bbc9b;
	}
	/* #menu_acciones {
		display: block !important;
	} */
	table, tbody {
		width:100% !important;
		background-color: white;
	}
	thead {
		display: none;
	}
	tr:nth-of-type(2n) {
		/* background-color: inherit; */
	}
	tr td:first-child {
		background-color: #1bbc9b;
	}
	tr td:first-child input {
		text-align: center;
		font-weight:bold;
		font-size:1.3em;
	}
	tbody td {
		display: block;
	}
	tbody td:before {
		display: block;
	}
}
	/*#login .container #login-row #login-column #login-box {
		margin-top: 100px !important;
		height: 320px !important;
	}

	body {
		background-color: red !important;
	}*/
}
body {
  padding-right: 0px !important;
  overflow-y: hidden !important;
  margin: 0;
  padding: 0;
  /*background-color: white;*/
  /*height: 100vh;*/
  font: 16px 'Roboto',sans-serif;
}
#login {
	padding: 40px 20px 60px 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#login button {
	/*border: 1px solid black !important;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#login button:hover {
	opacity: 0.9;
	background-color: white;
}

.color_suave {
	background-color: #36d7b7;
}
.color_intermedio {
	background-color: #1bbc9b;
}
.color_fuerte {
	background-color: #00886d;
}
#logo1 {
	border: 5px solid #00886d;
	margin: 30px 0px 30px 0px;
}
table, tr, td, th {
	border: 1px solid black;
}

.nav-link {
	color: white;
}
.nav-tabs .nav-link{
	color: black;
}
.nav-link:hover, .pagina_activa{
	color: #36d7b7;
}
.dropdown-item:hover{
	color: #00886d;
}

.navbar-toggler-icon {
	background-image: url("/IMG/menu.png");
}

nav {
	font-size: 120%;
}
button {
	border: none;
	background: transparent;
}

table input {
	width: 100%;
	border: 0px;
	border-radius: 0.25rem;
}

table input[readonly] {
	background: transparent;
}
#lista_ubicaciones_seleccionadas .list-group-item:hover {
	background-color: #cf3919;
}

#lista_ubicaciones_seleccionadas {
	padding-inline-start: 0px;
}
